@charset "utf-8";

/* CSS Document */


/*
Name: GECO
Author: Grupo de Ingeniería Lingüística
Author URI: http://www.corpus.unam.mx/
Description: Sitio con aplicaciones específicas para el tratamiento de corpus lingüísticos
Version: 3
License: n/a
Text Domain: Grupo de Ingeniería Lingüística
Tags: corpus lingüístico
*/

html {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0px;
    font-size: 100%;
    background-color: #FFF;
    padding-top: 60px;
    padding-bottom: 40px;
    background: url('/static/img/gecos-bg2.png');
    font-family: 'Ubuntu', sans-serif;
    color: #010a04;
}

article,
aside,
figure,
footer,
header,
nav,
main,
section {
    display: block;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(58, 179, 172);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgba(27, 192, 63, 0.849);
    background-color: transparent;
    text-decoration: underline;
}


/* Header */


/*#fixed-header,
#fixed-footer {
    width: 100%;
    position: fixed;
    background: #FFF;
    padding: 1px 0;
    color: #000;
    border: 1px solid #000;
    margin: 0px auto;
    left: 0;
    text-align: center;
    z-index: 10;
}*/

#fixed-header {
    font-family: 'Ubuntu', sans-serif;
    color: #010a04;
    top: 0;
}


/* Footer */

#fixed-footer {
    font-family: 'Ubuntu', sans-serif;
    color: #010a04;
    bottom: 0;
    height: 2em;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: #58595b;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    text-align: center;
}

.icon {
    width: 2em;
}


/* Containers */

.formulario {
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
    background-color: #f2f2f2;
}

#content {
    background: #FFF;
    margin: 0px auto;
}


/*
#content-index {
    width: 99%;
    background: #FFF;
    margin-left: 20%;
    margin-right: 20%;
}

#content-index h1 {
    margin-left: -40%;
    text-align: center;
}
*/

#navbarNav {
    font-family: 'Ubuntu', sans-serif;
    font-size: 122%;
    color: #010a04;
}

#init {
    font-family: 'Ubuntu', sans-serif;
    color: #010a04;
}

#dashboard {
    font-family: 'Ubuntu', sans-serif;
    color: #010a04;
    margin-left: 9%;
    margin-right: 9%;
}

.form-square {
    opacity: 0.86;
}


/*.figs {
    margin: 5% 1%;
}
.fig {
    float: left;
    margin: 0% 5%;
    border: 1px solid #333333;
}

.box {
    float: left;
    margin: 0% 2%
}*/

section {
    margin: 5px;
    padding: 10px;
    background-color: lightgrey;
}

article {
    margin: 5px;
    padding: 10px;
    background-color: white;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


/* Navigation */

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 5px;
}


/* Sidebars */

.sidebar-nav {
    font-family: 'Ubuntu', sans-serif;
    color: #010a04;
    margin-top: 20px;
    padding: 0;
    list-style: none;
}


/* Forms */


/* Style inputs, select elements and textareas 

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}


Style the label to display next to the inputs 

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
*/


/* Style the submit button */


/*input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 0.5% 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 70%;
}

#submit_cancel {
    background-color: red;
    margin-right: 1%;
}
*/

input[type=text],
input[type=password],
input[type=email] {
    width: 85%;
    border-radius: 5px;
}

.button {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    margin-left: 70%;
}

.btn-success {
    background-color: #037f36;
}

.btn-success:hover {
    background-color: #046e30;
}

.btn-danger {
    background-color: #7f1716 !important;
    color: #FFF !important;
}

.btn-danger:hover {
    background-color: #64100f !important;
}

.button_export {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 9px 10px 9px 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.user-options {
    margin-top: 1px;
    margin-right: 3%;
}


/* Style the container */

.container_form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2% 8% 2% 8%;
    margin-left: 30%;
    margin-right: 30%;
}


/* Floating column for labels: 25% width */

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}


/* Floating column for inputs: 75% width */

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout */

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

#lateral {
    padding: 0.5%;
    border-radius: 5px;
    background-color: #f2f2f2;
    opacity: 0.86;
    float: left;
    margin-left: 5%;
}

.menuv {
    margin: 5px 10px 20px 20px;
}

#contenido_help {
    float: left;
    width: 60%;
    /* padding: 5px 0 20px 0; */
    margin-right: 10%;
    margin-left: 9%;
    padding: 3% 3% 3% 3%;
    border-radius: 5px;
    background-color: #f2f2f2;
    opacity: 0.93;
}

@media screen and (max-width: 768px) {
    .nuevo {
        margin-top: 17%;
    }
}

.option {
    margin-left: 6%;
}

.navbar {
    background-color: #ffffff !important;
    opacity: 0.86;
}

.table-dark {
    background-color: #787a7c;
    opacity: 0.90;
}

.table-sucess {
    background-color: #b3b4b6;
    opacity: 0.90;
}

#leftMenu {
    font-family: 'Ubuntu', sans-serif;
    color: #010a04;
    opacity: 0.92;
    background-color: #888888;
}

.dropdown-item:hover {
    background-color: #b9aeae !important;
}

.card-body {
    max-height: 15rem;
}

.accordion {
    max-height: 19rem;
}

@media screen and (max-width: 768px) {
    .card-body {
        max-height: 10rem;
    }
}

@media screen and (max-width: 768px) {
    .accordion {
        max-height: auto;
    }
}

@media screen and (min-width: 1768px) {
    .card-body {
        max-height: 30rem;
    }
}

@media screen and (min-width: 1768px) {
    .accordion {
        max-height: 50rem;
    }
}

.btn-abrir-popup {
    padding: 0 20px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    cursor: pointer;
}

.btn-abrir-popup:hover {
    background: rgba(94, 125, 227, .9);
}

.cplm-back {
    background: url('/static/img/CPLM/Background-propuesta2.jpg') !important;
}

#logo {
    cursor: pointer;
}


/* ------------------------- */


/* POPUP */


/* ------------------------- */

.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 2%;
    text-align: center;
    width: 75%;
    height: 75%;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup.concord {
    width: 50% !important;
    height: 60% !important;
}

.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}

.popup h3 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
    opacity: 0;
}

.popup h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    opacity: 0;
}


/* ------------------------- */


/* ANIMACIONES POPUP */


/* ------------------------- */

.popup.active {
    transform: scale(1);
    opacity: 1;
}

.popup.active h3 {
    animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active h4 {
    animation: entradaSubtitulo .8s ease .5s forwards;
}

@keyframes entradaTitulo {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}