
{% extends "base_generic.html" %}


{% block content %}
    <div id="content">
{% if form.errors %}
<p>Su nombre de usuario y contraseña no coinciden. Por favor intente de nuevo.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Su cuenta no tiene acceso a esta página. Para avanzar por favor inicie sesión con una cuenta que sí tenga acceso.</p>
    {% else %}
    <p>Favor de iniciar sesión para ver esta página.</p>
    {% endif %}
{% endif %}



<div class="container_form">
<h1> Iniciar sesión </h1>
<form method="post" action="{% url 'login' %}"> {% csrf_token %}

    <div class="row">
 {{ form.username.label_tag }} <br> {{ form.username }}
    </div>

    <div class="row">
 {{ form.password.label_tag }} <br> {{ form.password }}
	</div>
    <div style="padding-top:20px;" class="row">
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
<p><a href="{% url 'password_reset' %}">Cambiar contraseña</a></p>
</div>
</div>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}