{% extends "base_generic.html" %}
{% block content %}
    <div id="content">

<h2 style="text-align:center;">Cambiar contraseña</h2>

<div class="container_form">

<form method="post">{% csrf_token %}
    <div class="row">
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    </div>
    <div class="row">
    <p><b>{{ form.email.label }}</b></p>	  
    {{ form.email }}
	</div>
    <div class="row"><br>
        <input type="submit" value="Cambiar" />
	</div>
</form>
</div>

</div>
{% endblock %}