{% extends "base_generic.html" %}

{% block content %}
    <div id="content">
    {% if validlink %}

<h1>Cambio de contraseña</h1>

        <p>Escriba (y confirme) su nueva contraseña.</p>

<div class="container_form">
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
    <div class="row">
           {{ form.new_password1.errors }} 
                        <label for="id_new_password1">Nueva contraseña:</label>
		   {{ form.new_password1 }}
                    </div>
    <div class="row">                   
           {{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmar contraseña:</label>
           {{ form.new_password2 }}
                    </div>
    <div class="row">
                        <input type="submit" value="Cambiar mi contraseña" />
                    </div>
        </form>
</div>
    {% else %}
        <h1>El cambio de contraseña falló</h1>
        <p>El cambio de contraseña fue inválido, posiblemente porque ya han sido usados los datos. Por favor vuelva a intentarlo con otros datos.</p>
    {% endif %}
</div>
{% endblock %}