{% extends "base_generic.html" %}

{% block content %}

    <div id="content">
<div class="container_form">
<h1>Registro de usuario</h1>

{% if user.is_authenticated %}
<p>  Hola {{ user.username }}! </p>
<p>  Estas loggueado </p>
  <p><a href="{% url 'logout' %}">cerrar sesión</a></p>
{% else %}

  <form method="post"> {% csrf_token %}
    <div class="row">	  
	  {{ form.as_p }}
    </div>
    <div class="row">
  <button type="submit">Enviar</button>
    </div>
  </form>
</div>
{% endif %}

</div>
{% endblock %}