{% extends 'base_generic.html' %}

{% block content %}
    {% load static %}
    <div class="container text-center">
        <h1>Catálogo de aplicaciones</h1>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 mb-3">
                <a href="http://www.corpus.unam.mx/saute/"><img src="{% static 'img/desarrollos/saute.png' %}">
                <p>Saute</p></a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="http://www.corpus.unam.mx/concordancias/"><img src="{% static 'img/desarrollos/lupa.png' %}">
                <p>Concordancias</p></a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{% url 'concordance_paralle' %}"><img width="150px" src="{% static 'img/desarrollos/parallel.jpeg' %}">
                <p>Concordancias Paralelo</p></a>
            </div>                    
        </div>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <a href="http://www.corpus.unam.mx/termext/"><img src="{% static 'img/desarrollos/t.png' %}">
                <p>Termext</p></a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="http://www.corpus.unam.mx/similitud/"><img src="{% static 'img/desarrollos/similitud.png' %}">
                <p>Similitud</p></a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="http://www.corpus.unam.mx/geco/default/ecode"><img src="{% static 'img/desarrollos/ecode.png' %}">
                <p>Ecode</p></a>
            </div>                    
        </div>
    </div>

{% endblock content %}