<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block title %}<title>GECO 3</title>{% endblock %}

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div id="fixed-header">
			<a href="#">
 <img src="{% static 'img/geco_00.jpg' %}" width="48" height="30" alt="GECO 3 logo"  longdesc="../staticfiles/img/geco_00.jpg">
 			</a>
			<a href="#">Inicio</a>
            <a href="#">Miembros</a>
            <a href="#">Proyectos</a>
            <a href="#">Desarrollos</a>
            <a href="#">Líneas de investigación</a>
            <a href="#">Ayuda</a>
</div>

      {% block content %}  
    <div id="content">      
    </div>
 {% endblock %}  

<div id="fixed-footer">
2019, Grupo de Ingeniería Lingüística - Mail, teléfono-ext, redes
</div>
</body>
</html>