<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  {% block title %}<title>GECO 3</title>{% endblock %}

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->

 {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'img/geco.png' %}" type="image/x-icon" />
</head>

<body>
<div id="fixed-header">
			<a href="{% url 'index' %}">
 <img src="{% static 'img/geco.png' %}" width="38" height="34" alt="GECO 3 logo"  longdesc="../staticfiles/img/geco_00.jpg">
 			Inicio</a>
      <a href="{% url 'dashboard' %}">Proyectos</a>
      <a href="{% url 'applications' %}">Desarrollos</a>
      <a href="#">Portales</a>
      <a href="{% url 'help_view' %}">Ayuda</a>
</div>

{% block sidebar %}
{% endblock sidebar %}

 {% block content %}  
    <div id="content">      
    </div>
 {% endblock content %}

<div id="fixed-footer">

2019, <a href="http://grupos.iingen.unam.mx/iling/es-mx/Paginas/default.aspx" target="_blank">Grupo de Ingeniería Lingüística</a>, &nbsp;
<a href="mailto:gil@iingen.unam.mx" target="_blank"> <img src="{% static 'img/mail.jpg' %}" alt="mail" class="icon"></a>&nbsp;
<a href="mailto:gil@iingen.unam.mx">gil@iingen.unam.mx</a>,&nbsp; 
<img src="{% static 'img/phone.jpg' %}" class="icon"> +52(55)5623-3600 ext. 8808, &nbsp;
<a href="https://www.facebook.com/ingenieriaLinguistica/" target="_blank"><img src="{% static 'img/face-ico.png' %}" alt="Facebook" class="icon"></a> &nbsp;
<a href="https://twitter.com/gil_unam" target="_blank"><img src="{% static 'img/twit-ico.png' %}" alt="twitter" class="icon"></a>&nbsp; 
<a href="https://www.youtube.com/channel/UCnvi-DrR-m_gl-IhtP07dYA" target="_blank"><img src="{% static 'img/you-ico.png' %}" alt="Youtube" class="icon"></a>

</div>
</body>
</html>