<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  {% block title %}<title>GECO 3</title>{% endblock %}

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->

 {% load static %}
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'img/geco.png' %}" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>

{% block banner %}
<nav class="navbar fixed-top navbar-light bg-light navbar-expand-lg">
  <img id="logo" onClick ="window.location.href = '{% url 'index' %}'" src="{% static 'img/geco.png' %}" width="60" alt="GECO 3 logo"  longdesc="../staticfiles/img/geco_00.jpg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-1" id="navbarNav">
    <ul style="margin-right:6%;" class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
          <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="nav-item {% if request.path == '/dashboard/' %}active{% endif %}">
          <a href="{% url 'dashboard' %}">Proyectos</a>
        </li>
        <li class="nav-item {% if request.path == '/applications/' %}active{% endif %}">
          <a href="{% url 'applications' %}">Desarrollos</a>
        </li>
        {% comment %} <li class="nav-item {% if request.path == '' %}active{% endif %}">
          <a href="#">Portales</a>
        </li> {% endcomment %}
        <li class="nav-item {% if request.path == '/help/' %}active{% endif %}">
          <a href="{% url 'help_view' %}">Ayuda</a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hola {{ user.username }}!</a>
          <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
              <a href="{% url 'info_user' user.id %}" class="dropdown-item">Perfil de usuario</a>
              <a href="{% url 'invite_user' %}" class="dropdown-item">Invitar usuario</a>
              <a href="{% url 'logout' %}" class="dropdown-item">Cerrar sesión</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuario </a>
          <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">            
              <a href="{% url 'login' %}" class="dropdown-item">Iniciar sesión</a>
              <a href="{% url 'register' %}" class="dropdown-item">Registrar usuario</a>
          </div>
        </li>
        {% endif %}        
      </ul>    
    </div>
</nav>
<br>
{% endblock banner %}

{% block sidebar %}
{% endblock sidebar %}

 {% block content %}  
    <div id="content">      
    </div>
 {% endblock content %}

{% block footer %}
<div id="fixed-footer">
  2019, <a href="http://grupos.iingen.unam.mx/iling/es-mx/Paginas/default.aspx" target="_blank">Grupo de Ingeniería Lingüística,</a>
  <a href="mailto:gil@iingen.unam.mx" target="_blank"><i class="far fa-envelope"></i></a>
  <a href="mailto:gil@iingen.unam.mx">gil@iingen.unam.mx</a>, 
  <i class="fas fa-phone"></i> +52(55)5623-3600 ext. 8808,
  <a href="https://www.facebook.com/ingenieriaLinguistica/" target="_blank"><i class="fab fa-facebook-f"></i></a>
  <a href="https://twitter.com/gil_unam" target="_blank"><i class="fab fa-twitter"></i></a> 
  <a href="https://www.youtube.com/channel/UCnvi-DrR-m_gl-IhtP07dYA" target="_blank"><i class="fab fa-youtube"></i></a>
</div>
{% endblock footer %}
<script src="{% static 'jquery/js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'popper/js/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'fontawesome/js/all.min.js' %}"></script>
</body>
</html>