{% extends "base_generic.html" %}

{% load my_filters %}

{% block content %}
<div class="container">
    <div class="formulario">
        <form method="post">
        {% csrf_token %}
        <h4 align="center"><strong>Creación de proyectos</strong></h4>
        <br>
        <div class="form-group row">
            <label class="col-sm-3 col-lg-3"><b>{{form.name_project.label}}</b></label>
            <div class="col-sm-9 col-lg-9">
                {{form.name_project}}
                {% if error %}<strong style="color:red;">{{error}}</strong>{%endif%}
            </div>	
                          
        </div>
        <div class="form-group row">
            <label class="col-lg-3"><b>{{form.description.label}}</b></label>
            <div class="col-lg-9">
                {% comment %} <textarea class="form-control" rows="3" id="comment" name="description"></textarea> {% endcomment %}
                {{form.description}}
            </div>	              
        </div>

        <div class="input-group mb-3">
            <label><b>{{form2.name_metadata.label}}</b></label>
            <table class="table table-borderless">
                    <tr>
                    <input type="hidden" name="name_metadata" value="1" />
                    <input type="hidden" name="name_metadata" value="2" />
                    {% for choice in form2.name_metadata %} 
                        <td><input type="checkbox" name="name_metadata" value="{{choice.data.value}}"
                        {% if choice.data.value == 1 or choice.data.value == 2 %}checked disabled readonly="readonly"{% endif %}
                        {% if choice.data.selected %} checked="checked" {% endif %}/>
                        <label for="">{{choice.data.label}}</label>
                        </td>
                        {% if forloop.counter|here %}                                     
                            </tr>
                            <tr>                        
                        {% endif %}
                    {% endfor %}
                    </tr>                                                          
            </table>
        </div>
        <hr>

        <div class="form-group row text-left">
            <div class="col-sm-4">
                {{form.public_status.label}}
                &nbsp;
                {{form.public_status}} 
            </div>
            <div class="col-sm-4"> 
                {{form.collab_status.label}}
                &nbsp;
                {{form.collab_status}}
            </div>
            <div class="col-sm-4"> 
                {{form.parallel_status.label}}
                &nbsp;
                {{form.parallel_status}}  
            </div>
        </div>

        <div class="form-group row text-left">
            <div class="col-sm-3">
                <button onClick ="window.location.href = '{% url 'dashboard' %}'" class="btn btn-danger"><a style="color:#FFF;text-decoration:none;">Cancelar</a></button> 
                &nbsp;
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>
            <div class="col-sm-9"></div>
        </div>

        </form>
    </div>
</div>

{% endblock %}