{% extends "base_generic.html" %}

{% block content %}
    <div id="content">

<h1>Subir documento</h1>    
{% if user.is_authenticated %}

<div class="container_form">
<form method="post" enctype="multipart/form-data" method="post">
  {% csrf_token %}
   <div class="row">
      <p><b>Nombre del proyecto</b></p>	  
      {{ form.project_name }}
    </div>
    <div class="row" style="margin-top:1rem;">
      <p style="color:red;">{{form.files.label}}:</p>
      {{form.files}}
    </div>
    <div class="row" style="margin-top:3rem;">
      <input class="btn btn-danger" type="submit" onClick ="window.location.href = '{% url 'index' %}'" value="Cancelar" />
      &nbsp;
      <input class="btn btn-success" type="submit" value="Enviar" />
    </div>
</form>
</div>
{% endif %}
</div>
{% endblock %}