{% extends "base_generic.html" %}
<h3>Documento</h3>

{% block content %}
{% load static %}
<div class="container">
    <div style="text-align:right">
        <a href="{% url 'dashboard' %}?q={{ name_project }}" ><strong>Atrás</strong></a>
    </div>
    <h4>Archivo: <strong>{{file.name_file}}</strong></h4><br>
    {% for line in text %}
        <p>{{line}}</p>
    {% endfor %}
    <div style="text-align:right">
        <a href="{% url 'dashboard' %}?q={{ name_project }}" ><strong>Atrás</strong></a>
    </div>
</div>
{% endblock content %}
 