{% extends "base_generic.html" %}

{% block content %}

    {% load static %}
    <div id="content">      
    <img src="{% static 'img/geco.png' %}" width="204" height="186" align="left">
<h1>GECO</h1>
      <p>Bienvenido al Sistema de Gestión de Corpus del Grupo de Ingeniería Lingüística</p>
      <p>&nbsp;</p>
      <p><a href="http://www.iling.unam.mx/corpus/" target="_blank">Visita el sitio de los corpus lingüísticos de la UNAM</a>      </p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
</div>

{% endblock %}