{% extends "base_generic.html" %}

{% block content %}

{% load static %}
<div id="content-index">      
    
    <div>
        <h1>GECO</h1>
        <h2>Bienvenido al Sistema de Gestión de Corpus del Grupo de Ingeniería Lingüística</h2>
    </div>

    <div>
        <img src="{% static 'img/geco.png' %}" width="204" height="186" align="left">
        <p>&nbsp;</p>
        <h3>¡Es necesario tener una cuenta para usar GECO!</h3>
        <input style="margin-right:2px;" type="submit" id="submit_cancel" value="Registrar" onClick ="window.location.href = '{% url 'register' %}'" />
        &nbsp;
        <input type="submit" value="Iniciar sesión" onClick ="window.location.href = '{% url 'login' %}'" />
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><a href="http://www.iling.unam.mx/corpus/" target="_blank">Visita el sitio de los corpus lingüísticos de la UNAM</a>      </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>

</div>

{% endblock %}