{% extends "base_generic.html" %}

{% block content %}

{% load static %}
<div class="container">      
    
    <div class="text-center">
        <h1>GECO</h1>
        <h3>Bienvenido al Sistema de Gestión de Corpus del Grupo de Ingeniería Lingüística</h3>
    </div>

    <div class="row text-center">
        <div class="col-lg-3 col-sm-4">
            <img src="{% static 'img/geco.png' %}" style="width:80%;">
        </div>
        
        <div class="col-lg-9 col-sm-8 text-left">
            <p>&nbsp;</p>
            {% if user.is_authenticated %}
                <br>
                <input type="submit" class="btn btn-danger" value="Cerrar sesión" onClick ="window.location.href = '{% url 'logout' %}'" />
                <br>
                <br>
            {% else %}
                <h3>¡Es necesario tener una cuenta para usar GECO!</h3>
                <input type="submit" class="btn btn-success" value="Registrar" onClick ="window.location.href = '{% url 'register' %}'" />
                &nbsp;
                <input type="submit" class="btn btn-danger" value="Iniciar sesión" onClick ="window.location.href = '{% url 'login' %}'" />
            {% endif %}
            <p>&nbsp;</p>
            <p><a href="http://www.iling.unam.mx/corpus/" target="_blank">Visite el sitio de los corpus lingüísticos de la UNAM</a></p>
        </div>
    </div>

</div>

{% endblock %}