{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <div class="formulario">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 align="center"><strong>Subir archivos</strong></h3>
        <h4><strong>Proyecto: </strong>{{project.name_project}}</h4>
        <br>

        <div class="form-group text-right">
            <button type="button" class="btn btn-success" onclick="agregarFila()" title="Agregar Fila"><i class="fas fa-plus-circle"></i></button>
            <!--Crear un condicional para que elimine la fila si no hay archivo en base de datos o que vincule a una nueva ventana de eliminar un solo archivo-->
             <button type="button" class="btn btn-danger" {% if False %}onclick="window.location.href='{% url 'delete_parallel_file' project.id %}'{% else %}onclick="eliminarFila({{files_value|length}})"{% endif %}" title="Eliminar Fila"><i class="fas fa-minus-circle"></i></button> 
        </div>

        {{file_to_delete}}

        <div class="table-responsive">
            <table class="table table-striped" id="tablaprueba">
                <thead>
                    <tr>
                        <th>Subir archivo (.txt)</th>
                        {% for m in metadata %}
                            <th id="_m_{{m.id}}">{{m.name_metadata}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for f_v in files_value %}
                        <tr>
                            <th>{{f_v.0}}
                            <input type="hidden" id="{{f_v.1}}" name="{{f_v.1}}" value="{{f_v.1}}" /></th>
                            {% for f in f_v.2 %}

                                {% if f.0 == 1 %}
                                    <th><select class="form-control" id="{{f.1}}" name="{{f.1}}" required>
                                        <option value="" {% if f.2 == "" %} selected {% endif %}>Seleccione...</option>
                                        {% for l in lenguas %}
                                            {% if f.2 == l.1%}
                                                <option value="{{l.1}}" selected>{{l.0}}</option>
                                            {% else %}
                                                <option value="{{l.1}}">{{l.0}}</option>
                                            {% endif %}
                                        {% endfor %}
                                        </select></th>
                                
                                {% elif f.0 == 2 %}
                                    <th><input type="text" name="{{f.1}}" id="{{f.1}}" value="{{f.2}}" required/></th>
                              
                                {% elif f.0 == 16 %}
                                    <th><select class="form-control" id="{{f.1}}" name="{{f.1}}">
                                        <option value="">Seleccione...</option>
                                        {% for c in clasif_gen %}
                                            {% if f.2 == c%}
                                                <option value="{{c}}" selected>{{c}}</option>
                                            {% else %}
                                                <option value="{{c}}">{{c}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select></th>
                                
                                {% else %}
                                    <th><input type="text" name="{{f.1}}" id="{{f.1}}" value="{{f.2}}"/></th>
                                {% endif %}
                            
                            {% endfor %}
                            <th><a href="{% url 'dashboard' %}" title="Eliminar documento"><i class="fas fa-trash fa-1x"></i></a></th>
                        </tr>
                    {% endfor %}                
                </tbody>
            </table>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-9">
                {% if error %}<strong style="color:red;">{{error}}</strong>{%endif%}
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="form-group row text-left">
            <div class="col-sm-3">
                <button class="btn btn-danger"><a style="color:#FFF;text-decoration:none;" href="{% url 'dashboard' %}?q={{ project.name_project }}">Cancelar</a></button> 
                &nbsp;
                <button type="submit" class="btn btn-success">Aceptar</button>
            </div>
            <div class="col-sm-9"></div>
        </div>

        </form>
    </div>
</div>

<script>

function agregarFila(){  
  i = 1;
  var es = false;
  while(es == false){
      if(document.getElementById(String(i)) == null){
          es = true;
      }
      else{
          i ++;
      }
  }
  var id1 = 'new_file_'+String(i);
  var table = document.getElementById("tablaprueba");
  
  t = table.insertRow(-1);
  texto1 = '<th><input type="file" id="'+id1+'" name="'+id1+'" accept=".txt" required>';
  texto1 += '<input type="hidden" id="'+String(i)+'" name="'+String(i)+'" value="'+String(i)+'" /></th>';
  t.innerHTML += texto1;
  
  var celCount = table.rows[0].cells.length;

  lengua = [["Aguacateco","AGU"], ["Akateko","KNJ"], ["Amuzgo","AZG"], ["Alemán", "DE"], ["Ayapaneco","AYA"], ["Ch'ol","CHL"], ["Chatino","CHAT"],
              ["Chichimeco","PEI"], ["Chinanteco","CHIN"], ["Chocholteco","COZ"], ["Chontal de la sierra de oaxaca","CHD"],
              ["Chontal de tabasco","CHF"], ["Chuj","CAC"], ["Cora","CRN"], ["Cucapá","COC"], ["Cuicateco","CUT"],
              ["Español","ES"], ["Francés", "FR"], ["Huarijio","VAR"], ["Huasteco","HUS"], ["Huave","HUV"], ["Huichol", "HCH"], ["Inglés","EN"],
              ["Italiano", "IT"], ["Ixcateco","IXC"], ["Ixil","IXL"], ["Jacalteco","JAC"], ["Kaqchikel","CAK"], ["Kikapú","KIC"], 
              ["Kiliwa","KLB"], ["Ku' ahl","PPI"],["Kumiai","DIH"], ["Lacandón","LAC"], ["Mam","MAM"], ["Maya","MY"], ["Mayo","MFY"], 
              ["Mazahua","MAZA"], ["Mazateco","MAZ"], ["Mixe","MXE"], ["Mixteco","MX"], ["Náhuatl","NAH"], ["Noruego", "NOR"],
              ["Oluteco","PLO"], ["Otomí", "OT"], ["Paipai","PAPAI"], ["Pápago","OOD"], ["Pima del norte","PIA"], ["Popoloca","POP"],
              ["Popoluca","PPA"], ["Portugués", "PT"], ["Purépecha","TSZ"], ["Q'anjob'al","KJB"], ["Qato'k","MHC"], ["Quekchí","KEK"], 
              ["Quiché","QUC"],["Ruso", "RU"], ["Sayulteco","POS"], ["Seri","SEI"], ["Tarahumara","TAC"], ["Teko","TTC"], 
              ["Tepehua","TPA"], ["Tepehuán","TPN"], ["Texistepequeño","POQ"], ["Tlapaneco","TCF"], ["Tojolabal","TOJ"], 
              ["Totonaco","TOT"], ["Triqui","TRC"], ["Tseltal","TZH"] ,["Tzotzil","TZO"], ["Yaqui","YAQ"], ["Zapoteco","ZAP"],
              ["Zoque","ZOR"]];

  for(var j=1; j<celCount; j++){
      var id2 = table.rows[0].cells[j].id;
      if(id2 == "_m_1"){
          idioma = '<th><select class="form-control" name="'+id1+id2+'" id="'+id1+id2+'" required><option value="">Seleccione...</option>';
          for (var k = 0; k < lengua.length; k++) {
              idioma += '<option value="'+lengua[k][1]+'">'+lengua[k][0]+'</option>';
          }
          idioma += '</select></th>';
          t.innerHTML += idioma;
      }
      else if(id2 == "_m_2"){
          t.innerHTML += '<th><input type="text" name="'+id1+id2+'" id="'+id1+id2+'" value="" required/></th>';
      }
      else if(id2 == "_m_16"){
          clasificacion = '<th><select class="form-control" name="'+id1+id2+'" id="'+id1+id2+'"><option value="">Seleccione...</option>';
          clasificacion += '<option value="Didáctico">Didáctico</option><option value="Expositivo">Expositivo</option>';
          clasificacion += '<option value="Narrativo">Narrativo</option><option value="Poético">Poético</option>';
          clasificacion += '<option value="Religioso ">Religioso </option><option value="Histórico">Histórico</option>';
          clasificacion += '<option value="Político ">Político </option><option value="Dramático ">Dramático </option></select></th>';
          t.innerHTML +=  clasificacion;
      }
      else{
          t.innerHTML += '<th><input type="text" name="'+id1+id2+'" id="'+id1+id2+'" value=""/></th>';   
      }
  }
}

function eliminarFila(max){
  var table = document.getElementById("tablaprueba");
  var rowCount = table.rows.length;
  //console.log(rowCount);
  if(rowCount <= max)
    alert('No se puede eliminar más filas, es el mínimo requerido');
  else
    table.deleteRow(rowCount -1);
}

function prueba() {
    return false;
}
</script>

{% endblock %}