{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <div class="formulario">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 align="center"><strong>Subir archivos</strong></h3>
        <h4><strong>Proyecto: </strong>{{project.name_project}}</h4>
        <br>

        <div class="form-group text-right">
            <button type="button" class="btn btn-success" onclick="agregarFila()" title="Agregar Fila"><i class="fas fa-plus-circle"></i></button>
            <button type="button" class="btn btn-danger" onclick="eliminarFila()" title="Eliminar Fila"><i class="fas fa-minus-circle"></i></button>
        </div>

        <div class="table-responsive">
            <table class="table table-striped" id="tablaprueba">
                <thead>
                    <tr>
                        <th>Subir archivo (.txt)</th>
                        {% for m in metadata %}
                            <th id="_m_{{m.id}}">{{m.name_metadata}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% if project.parallel_status %}
                        <tr>
                            <th><input type="file" id="file_1" name="file_1" accept=".txt" required>
                            <input type="hidden" id="1" name="1" value="1" /></th>
                            {% for m in metadata %}
                                {% if m.id == 1 %}
                                    <th><select class="form-control" id="file_1_m_{{m.id}}" name="file_1_m_{{m.id}}" required>
                                        <option value="">Seleccione...</option>
                                        {% for l in lenguas %}
                                            <option value="{{l.1}}">{{l.0}}</option>
                                        {% endfor %}
                                        </select></th>
                                
                                {% elif m.id == 2 %}
                                    <th><input type="text" name="file_1_m_{{m.id}}" id="file_1_m_{{m.id}}" value="" required/></th>

                                {% elif m.id == 12 %}
                                    <th><select class="form-control" id="file_1_m_{{m.id}}" name="file_1_m_{{m.id}}">
                                        <option value="">Seleccione...</option>
                                        <option value="Didáctico">Didáctico</option>
                                        <option value="Expositivo">Expositivo</option>
                                        <option value="Narrativo">Narrativo</option>
                                        <option value="Poético">Poético</option>
                                        <option value="Religioso ">Religioso </option>
                                        <option value="Histórico">Histórico</option>
                                        <option value="Político ">Político </option>
                                    </select></th>
                                
                                {% else %}
                                    <th><input type="text" name="file_1_m_{{m.id}}" id="file_1_m_{{m.id}}" value=""/></th>
                                {% endif %}
                                
                            {% endfor %}
                        </tr>
                        <tr>
                            <th><input type="file" id="file_2" name="file_2" accept=".txt" required>
                            <input type="hidden" id="2" name="2" value="2" /></th>
                            {% for m in metadata %}
                                {% if m.id == 1 %}
                                    <th><select class="form-control" id="file_2_m_{{m.id}}" name="file_2_m_{{m.id}}" required>
                                        <option value="">Seleccione...</option>
                                        {% for l in lenguas %}
                                            <option value="{{l.1}}">{{l.0}}</option>
                                        {% endfor %}
                                    </select></th>
                                
                                {% elif m.id == 2 %}
                                    <th><input type="text" name="file_2_m_{{m.id}}" id="file_2_m_{{m.id}}" value="" required/></th>


                                {% elif m.id == 12 %}
                                    <th><select class="form-control" id="file_2_m_{{m.id}}" name="file_2_m_{{m.id}}">
                                        <option value="">Seleccione...</option>
                                        <option value="Didáctico">Didáctico</option>
                                        <option value="Expositivo">Expositivo</option>
                                        <option value="Narrativo">Narrativo</option>
                                        <option value="Poético">Poético</option>
                                        <option value="Religioso ">Religioso </option>
                                        <option value="Histórico">Histórico</option>
                                        <option value="Político ">Político </option>
                                    </select></th>
                                
                                {% else %}
                                    <th><input type="text" name="file_2_m_{{m.id}}" id="file_2_m_{{m.id}}" value=""/></th>
                                {% endif %}
                            {% endfor %}
                        </tr>

                    {% else %}
                        <tr>
                            <th><input type="file" id="file_1" name="file_1" accept=".txt" required>
                            <input type="hidden" id="1" name="1" value="1" /></th>
                            {% for m in metadata %}
                                {% if m.id == 1 %}
                                    <th><select class="form-control" id="file_1_m_{{m.id}}" name="file_1_m_{{m.id}}" required>
                                        <option value="">Seleccione...</option>
                                        {% for l in lenguas %}
                                            <option value="{{l.1}}">{{l.0}}</option>
                                        {% endfor %}
                                    </select></th>
                                
                                {% elif m.id == 2 %}
                                    <th><input type="text" name="file_1_m_{{m.id}}" id="file_1_m_{{m.id}}" value="" required/></th>

                                {% elif m.id == 12 %}
                                    <th><select class="form-control" id="file_1_m_{{m.id}}" name="file_1_m_{{m.id}}">
                                        <option value="">Seleccione...</option>
                                        <option value="Didáctico">Didáctico</option>
                                        <option value="Expositivo">Expositivo</option>
                                        <option value="Narrativo">Narrativo</option>
                                        <option value="Poético">Poético</option>
                                        <option value="Religioso ">Religioso </option>
                                        <option value="Histórico">Histórico</option>
                                        <option value="Político ">Político </option>
                                    </select></th>
                                
                                {% else %}
                                    <th><input type="text" name="file_1_m_{{m.id}}" id="file_1_m_{{m.id}}" value=""/></th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                    
                </tbody>
            </table>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-9">
                {% if error %}<strong style="color:red;">{{error}}</strong>{%endif%}
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="form-group row text-left">
            <div class="col-sm-3">
                <button class="btn btn-danger"><a style="color:#FFF;text-decoration:none;" href="{% url 'dashboard' %}?q={{ project.name_project }}">Cancelar</a></button> 
                &nbsp;
                <button type="submit" class="btn btn-success">Aceptar</button>
            </div>
            <div class="col-sm-9"></div>
        </div>

        </form>
    </div>
</div>

<script>

function agregarFila(){  
  i = 1;
  var es = false;
  while(es == false){
      if(document.getElementById(String(i)) == null){
          es = true;
      }
      else{
          i ++;
      }
  }
  var id1 = 'file_'+String(i);
  var table = document.getElementById("tablaprueba");
  
  t = table.insertRow(-1);
  texto1 = '<th><input type="file" id="'+id1+'" name="'+id1+'" accept=".txt" required>';
  texto1 += '<input type="hidden" id="'+String(i)+'" name="'+String(i)+'" value="'+String(i)+'" /></th>';
  t.innerHTML += texto1;
  
  var celCount = table.rows[0].cells.length;

  lengua = [["Aguacateco","AGU"], ["Akateko","KNJ"], ["Amuzgo","AZG"], ["Alemán", "DE"], ["Ayapaneco","AYA"], ["Ch'ol","CHL"], ["Chatino","CHAT"],
              ["Chichimeco","PEI"], ["Chinanteco","CHIN"], ["Chocholteco","COZ"], ["Chontal de la sierra de oaxaca","CHD"],
              ["Chontal de tabasco","CHF"], ["Chuj","CAC"], ["Cora","CRN"], ["Cucapá","COC"], ["Cuicateco","CUT"],
              ["Español","ES"], ["Francés", "FR"], ["Huarijio","VAR"], ["Huasteco","HUS"], ["Huave","HUV"], ["Huichol", "HCH"], ["Inglés","EN"],
              ["Italiano", "IT"], ["Ixcateco","IXC"], ["Ixil","IXL"], ["Jacalteco","JAC"], ["Kaqchikel","CAK"], ["Kikapú","KIC"], 
              ["Kiliwa","KLB"], ["Ku' ahl","PPI"],["Kumiai","DIH"], ["Lacandón","LAC"], ["Mam","MAM"], ["Maya","MY"], ["Mayo","MFY"], 
              ["Mazahua","MAZA"], ["Mazateco","MAZ"], ["Mixe","MXE"], ["Mixteco","MX"], ["Náhuatl","NAH"], ["Noruego", "NOR"],
              ["Oluteco","PLO"], ["Otomí", "OT"], ["Paipai","PAPAI"], ["Pápago","OOD"], ["Pima del norte","PIA"], ["Popoloca","POP"],
              ["Popoluca","PPA"], ["Portugués", "PT"], ["Purépecha","TSZ"], ["Q'anjob'al","KJB"], ["Qato'k","MHC"], ["Quekchí","KEK"], 
              ["Quiché","QUC"],["Ruso", "RU"], ["Sayulteco","POS"], ["Seri","SEI"], ["Tarahumara","TAC"], ["Teko","TTC"], 
              ["Tepehua","TPA"], ["Tepehuán","TPN"], ["Texistepequeño","POQ"], ["Tlapaneco","TCF"], ["Tojolabal","TOJ"], 
              ["Totonaco","TOT"], ["Triqui","TRC"], ["Tseltal","TZH"] ,["Tzotzil","TZO"], ["Yaqui","YAQ"], ["Zapoteco","ZAP"],
              ["Zoque","ZOR"]];

  for(var j=1; j<celCount; j++){
      var id2 = table.rows[0].cells[j].id;
      if(id2 == "_m_1"){
          idioma = '<th><select class="form-control" name="'+id1+id2+'" id="'+id1+id2+'" required><option value="">Seleccione...</option>';
          for (var k = 0; k < lengua.length; k++) {
              idioma += '<option value="'+lengua[k][1]+'">'+lengua[k][0]+'</option>';
          }
          idioma += '</select></th>';
          t.innerHTML += idioma;
      }
      else if(id2 == "_m_2"){
          t.innerHTML += '<th><input type="text" name="'+id1+id2+'" id="'+id1+id2+'" value="" required/></th>';
      }
      else if(id2 == "_m_12"){
          clasificacion = '<th><select class="form-control" name="'+id1+id2+'" id="'+id1+id2+'"><option value="">Seleccione...</option>';
          clasificacion += '<option value="Didáctico">Didáctico</option><option value="Expositivo">Expositivo</option>';
          clasificacion += '<option value="Narrativo">Narrativo</option><option value="Poético">Poético</option>';
          clasificacion += '<option value="Religioso ">Religioso </option><option value="Histórico">Histórico</option>';
          clasificacion += '<option value="Político ">Político </option></select></th>';
          t.innerHTML +=  clasificacion;
      }
      else{
          t.innerHTML += '<th><input type="text" name="'+id1+id2+'" id="'+id1+id2+'" value=""/></th>';   
      }
  }
}

function eliminarFila(){
  var table = document.getElementById("tablaprueba");
  var rowCount = table.rows.length;
  //console.log(rowCount);

  if("{{project.parallel_status|safe}}" == "True")
    if(rowCount <= 3)
        alert('No se puede eliminar más filas, es el mínimo requerido');
    else
        table.deleteRow(rowCount -1);
  else
    if(rowCount <= 2)
        alert('No se puede eliminar más filas, es el mínimo requerido');
    else
        table.deleteRow(rowCount -1);
}
</script>

{% endblock %}