{% extends "base_generic.html" %}
<h1>Dashboard de usuario</h1>

{% block sidebar %}
{% load static %} 
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block title %}<title>GECO 3</title>{% endblock %}

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
  <!-- Add additional CSS in static file -->
 
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>



<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="leftMenu">
  <button onclick="closeLeftMenu()" class="w3-bar-item w3-button w3-large">Cerrar &times;</button>
																	<!-- Aquí van los contenidos del menú izquierdo -->
  <fieldset>
    <legend>Mis proyectos</legend>
    {% for p in user_projects %}   
    <a href="?q={{ p }}" class="w3-bar-item w3-button">{{ p }}</a>
    {% endfor %}
      
  </fieldset>

  <fieldset>
    <legend>Proyectos públicos</legend>
    {% for p in public_projects %}   
    <a href="?q={{ p }}" class="w3-bar-item w3-button">{{ p }}</a>
    {% endfor %}
  </fieldset>
    

</div>

<div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;" id="rightMenu">
  <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Cerrar &times;</button>
																	<!-- Aquí van los contenidos del menú derecho -->
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<div class="w3-dark-grey">
  <button class="w3-button dark-grey w3-medium w3-left" onclick="openLeftMenu()">&#9776; Proyectos</button>
  <button class="w3-button dark-grey w3-medium w3-right" onclick="openRightMenu()">Menú &#9776;</button>
</div>

<script>
function openLeftMenu() {
  document.getElementById("leftMenu").style.display = "block";
}

function closeLeftMenu() {
  document.getElementById("leftMenu").style.display = "none";
}

function openRightMenu() {
  document.getElementById("rightMenu").style.display = "block";
}

function closeRightMenu() {
  document.getElementById("rightMenu").style.display = "none";
}
</script>
</body>
</html>
{% endblock sidebar %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  Estas loggueado
  
  	aqui va el dashboard

	{% if not project %}
		<p>No ha seleccionado ningun proyecto</p>
	{% else %}
		<p>PROYECTO SELECCIONADO: {{ project }}</p>
		{% for doc in documents %}
			<p>{{ doc.name }}</p>
		{% endfor %}
	{% endif %}


  <p><a href="{% url 'logout' %}">logout</a></p>
{% endif %}
{% endblock content %}