{% extends "base_generic.html" %}
<h1>Dashboard de usuario</h1>

{% block sidebar %}
{% load static %} 
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block title %}<title>GECO 3</title>{% endblock %}

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
  <!-- Add additional CSS in static file -->
 
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
{% csrf_token %}

{% load my_filters %}

<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none;min-width:200px;width:20%;max-height:90%;" id="leftMenu">
  <button onclick="closeLeftMenu()" class="w3-bar-item w3-button w3-large">Cerrar &times;</button>
																	<!-- Aquí van los contenidos del menú izquierdo -->
  <fieldset>

    <legend><b>Mis proyectos</b> 
    </legend>
    <div>
      <p><button onClick ="window.location.href = '{% url 'create_project' %}'" class="btn btn-primary btn-sm">Nuevo</button>
      Puedes crear un nuevo proyecto</p>
    </div>
    <hr>
       
    {% for p in user_projects %}
      <a href="?q={{ p.name_project }}">{{ p.name_project }}</a>
      {% if p.public_status %} 
        <img width="5%" height="5%" src="{% static 'img/publico.jpg' %}">
      {% else %}
        <img width="5%" height="5%" src="{% static 'img/personal.jpg' %}">
      {% endif %}

      {% if p.parallel_status %} 
        <img width="5%" height="5%" src="{% static 'img/paral.jpg' %}">
      {% else %}
        <img width="5%" height="5%" src="{% static 'img/monol.jpg' %}">
      {% endif %}

      {% if p.collab_status %} 
        <img width="5%" height="5%" src="{% static 'img/compartido.jpg' %}">
      {% else %}
        <img width="5%" height="5%" src="{% static 'img/personal.jpg' %}">
      {% endif %}
      <br>
    {% endfor %}
  </fieldset>

  <fieldset>
    <legend><b>Proyectos públicos</b></legend>
    {% for p in public_projects %}   
    <a href="?q={{ p.name_project }}">{{ p.name_project }}</a>
    {% if p.public_status %} 
        <img width="5%" height="5%" src="{% static 'img/publico.jpg' %}">
      {% else %}
        <img width="5%" height="5%" src="{% static 'img/personal.jpg' %}">
      {% endif %}

      {% if p.parallel_status %} 
        <img width="5%" height="5%" src="{% static 'img/paral.jpg' %}">
      {% else %}
        <img width="5%" height="5%" src="{% static 'img/monol.jpg' %}">
      {% endif %}

      {% if p.collab_status %} 
        <img width="5%" height="5%" src="{% static 'img/compartido.jpg' %}">
      {% else %}
        <img width="5%" height="5%" src="{% static 'img/personal.jpg' %}">
      {% endif %}
    {% endfor %}
  </fieldset>
    
</div>

<div class="w3-dark-grey">
  <button class="w3-button dark-grey w3-medium w3-left" onclick="openLeftMenu()">&#9776; Proyectos</button>
</div>

<script>
function openLeftMenu() {
  document.getElementById("leftMenu").style.display = "block";
}
function closeLeftMenu() {
  document.getElementById("leftMenu").style.display = "none";
}
function openRightMenu() {
  document.getElementById("rightMenu").style.display = "block";
}
function closeRightMenu() {
  document.getElementById("rightMenu").style.display = "none";
}
</script>
</body>
</html>
{% endblock sidebar %}

{% block content %}
{% if user.is_authenticated %}
<div id="dashboard" onclick="closeLeftMenu()">

	{% if not project %}
    <div align="center">
      <h1>Gestión de Corpus</h1>
      <h4>Bienvenido al sistema de Gestión de Corpus</h4>
      <br>
    </div>
    <br>
    <div align="center">
      <p>Seleccione en la opción a la izquierda un proyecto o cree un <a style="color:green;" href="{% url 'create_project' %}">proyecto nuevo</a></p>
      <p>Consulte la <a style="color:green;" href="{% url 'help_view' %}">ayuda</a></p>
    </div>

  {% else %}

    <div class="container-fliud nuevo">

      <nav class="navbar navbar-toggleable-xl navbar-inverse bg-primary">
        <div class="container">
            <p class="navbar-brand"><b>Proyecto: </b>{{project.name_project}}</p>
            <span class="options">
              <input type="text" name="id_project" id="id_project" value="{{project.id}}" hidden/>
              {% if user == project.owner or user in colaboradores %}
              <a href="{% url 'upload_document' project.id %}" title="Subir archivo"><i class="fas fa-upload fa-2x"></i></a>               
              {% endif %}
              {% if project.collab_status and user == project.owner %}
              <a href="{% url 'add_collaborator' project.id %}" title="Añadir colaborador al proyecto"><i class="fas fa-share-alt fa-2x"></i></a>
              {% endif %}
              <a href="#" title="Editar proyecto"><i class="fas fa-cog fa-2x"></i></a>
              {% if user == project.owner %}            
              <a href="{% url 'delete_project' project.id %}" title="Eliminar proyecto"><i class="fas fa-trash-alt fa-2x"></i></a>
              {% endif %}
              <a href="#" title="Descargar proyecto"><i class="fas fa-download fa-2x"></i></a>
            </span>           
        </div>
      </nav>

      <hr>
      {% if project.description %}
        <div>
          <p><b>Descripción del proyecto: </b>{{project.description}}</p>
        </div>
      {% endif %}

      <div class="table-responsive">
        {% if documents|length == 0 %}
          <div>
            <p align="center" style="color:red;"><b>Su proyecto no tiene archivos</b></p>
            <br>
            <br>
          </div>
          
        {% else %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Opciones</th>
                <th scope="col">Archivos</th>
                {% for v_m in value_metadata %}
                  <th scope="col">{{v_m}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for res in documents %}
                {% for f in res.1 %}
                  {% if forloop.first %}
                    <tr>
                      <td rowspan="{{res.1|length}}" width="10%">
                        <a onclick="open_popup({{res.0}});" id="btn-abrir-popup_{{res.0}}"
                          style=".btn-abrir-popup_{{res.0}}:hover {background: rgba(94,125,227, .9);}" title="Ver documento">
                          <i class="fas fa-eye fa-1x"></i></a>
                        <a href="#" title="Descargar documento"><i class="fas fa-file-download fa-1x"></i></a>
                        {% if user == project.owner or user in colaboradores %}                     
                          <a href="{% url 'delete_document' res.0 %}" title="Eliminar documento"><i class="fas fa-trash fa-1x"></i></a>
                        {% endif %}
                      </td>
                      {% for r_f in f %}
                        <td>{{r_f}}</td>
                      {% endfor %}
                    </tr>
                  {% else %}
                    <tr>
                      {% for r_f in f %}
                        <td>{{r_f}}</td>
                      {% endfor %}
                    </tr>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    
    </div>
	{% endif %}
</div>

  {% if documents|length != 0 %}
    {% for res in documents %}
      <div class="overlay" id="overlay_{{res.0}}">
        <div class="popup" id="popup_{{res.0}}">
          <a href="#" id="btn-cerrar-popup_{{res.0}}" class="btn-cerrar-popup" onclick="close_popup({{res.0}});">
            <i class="fas fa-times"></i></a>
          {% if project %}
          <h3><b>Documentos del Proyecto: </b>{{project.name_project}}</h3>
          {%endif%}
          <div class="overflow-auto accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
            {% for t in res.0|document_text%}
              <div class="card">
                <div class="card-header" role="tab" id="heading_{{t.0}}">
                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse_{{t.0}}" aria-expanded="true"
                    aria-controls="collapse_{{t.0}}">
                    <h5 class="mb-0">{{t.1}}<i class="fas fa-angle-down rotate-icon"></i></h5>
                  </a>
                </div>
                <div id="collapse_{{t.0}}" class="collapse show" role="tabpanel" aria-labelledby="heading_{{t.0}}"
                  data-parent="#accordionEx">
                  <div class="overflow-auto card-body">
                    {% for tx in t.2 %}
                      <p class="text-justify">{{tx}}</p>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {%endfor%}
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

{% endif %}

<script>
  function open_popup(id){
    document.getElementById('overlay_'+id).classList.add('active');
	  document.getElementById('popup_'+id).classList.add('active');
  }

  function close_popup(id){
    document.getElementById('overlay_'+id).classList.remove('active');
	  document.getElementById('popup_'+id).classList.remove('active');
  }
</script>

{% endblock content %}